.form {
  width: 100%;
  position: relative;
  height: 40px;

  &__input {
    width: 100%;
    height: 100%;
    padding: 8px 56px 8px 16px;
    border-radius: 32px;
    color: var(--color-dark);
    background: var(--color-white);
    border: 1px solid transparent;

    &::placeholder {
      color: var(--color-dark);
      opacity: 0.3;
    }

    &:focus,
    &:focus-visible {
      border: 1px solid var(--color-orange-light);
      outline: none;
    }

    &:disabled {
      background: var(--color-footer);
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__button {
    @include reset-button;
    @include flex-center(true);
    @include square(40px);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: var(--color-white);
    background-color: var(--color-orange-light);
    border-radius: 50%;
    transition-duration: var(--transition-duration);

    @include hover {
      background-color: var(--color-orange);
    }
  }
}
